* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* common section container */
.container {
    max-width: 1440px;
    margin: 0px 120px;
}

header {
    background-color: #F5F7FA;
    ;
    min-height: 100vh;
}

.container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    padding: 32px 0px;
}

nav .logo {
    max-width: 100px;
}

nav .logo img {
    width: 100%;
    cursor: pointer;
}

nav .nav-menu ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nav-menu ul li {
    list-style: none;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #18191F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    transition: all .3s ease-in-out;
}

.nav-menu ul li:hover a{
    color: #4CAF4F;
    transition: .3s;
}

nav .auth-menu {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 14px;
}

nav .auth-menu a {
    text-decoration: none;
    display: inline-block;
    line-height: 20px;
}

nav .auth-menu .login {
    color: #4CAF4F;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

nav .auth-menu .sign-up {
    color: #fff;
    background-color: #4CAF4F;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    padding: 10px 20px;
    align-items: center;
    border-radius: 6px;
    transition: all .3s ease-in-out;
}

nav .auth-menu .sign-up:hover{
    background-color: #399d3c;
    transition: .3s;
}


/* hero section */
/* hero section */
.container .hero-container {
    margin-top: 80px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.hero-container .text-content {
    width: 65%;
}

.hero-container .image-content {
    width: 35%;
}

.hero-container .text-content h2 {
    color: #4D4D4D;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 76px;
}

.hero-container .text-content h2 span {
    color: #4CAF4F;
}

.hero-container .text-content p {
    margin-top: 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.btn {
    text-decoration: none;
    display: inline-block;
    color: #FFF;
    background-color: #4CAF4F;
    padding: 14px 32px;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    transition: all .3s ease-in-out;
}

.btn:hover{
    background-color: #399d3c;
    transition: .3s;
}

.hero-container .text-content .btn {
    margin-top: 32px;
}

.hero-container .image-content img {
    width: 100%;
}

.hero-container .move-btn {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 45px;
}

.hero-container .move-btn img {
    display: inline-block;
    width: 10px;
    height: 10px;
}




/* client section START */
/* client section START */
.client-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.client-container .title h2 {
    margin-bottom: 8px;
    color: #4D4D4D;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
}

.client-container .para p {
    margin-bottom: 16px;
    color: #4D4D4D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.client-container .images {
    display: flex;
    height: 98px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}




/* community section START */
/* community section START */
/* community section START */
.community-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.community-container .heading-text h3 {
    color: #4D4D4D;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
}

.community-container .heading-text p {
    color: #717171;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 8px;
    margin-bottom: 16px;
}

.community-container .main-box {
    display: flex;
    justify-content: space-between;
    gap: 58px;
    align-items: center;
}

.community-container .main-box .text-box {
    width: 300px;
    text-align: center;
    padding: 24px 32px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.20);
}

.community-container .main-box .text-box .image {
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 18px 5px 10px 5px;
    position: relative;
    background: #E8F5E9;
    margin-bottom: 16px;
}

.community-container .main-box .text-box .image img {
    width: 100%;
    position: absolute;
    right: 30%;
    top: -15%;
}

.community-container .main-box .text-box .text h3 {
    width: 80%;
    margin: 0 auto;
    color: #4D4D4D;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}

.community-container .main-box .text-box .text p {
    text-align: center;
    color: #717171;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}



/* service section START */
/* service section START */
/* service section START */
.service-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.service-container .text-content {
    width: 50%;
}

.service-container .image-content{
    max-width: 450px;
}

.service-container .image-content img{
    width: 100%;
}

.service-container .text-content h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    margin-bottom: 16px;
}

.service-container .text-content p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 32px;
}





/* achievement section START */
/* achievement section START */
/* achievement section START */

#achievement {
    background: #F5F7FA;
    margin: 0;
    padding: 0px 120px;
    padding-top: 64px;
    padding-bottom: 64px;
    margin-bottom: 48px;
}

.achievement-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.achievement-container  .text-content{
    width: 50%;
}

.achievement-container .counter-content{
    width: 50%;
}

.achievement-container .counter-content .counter-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.counter-content .counter-row .counter-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.achievement-container .text-content h2 {
    color: #4D4D4D;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    margin-bottom: 8px;
}

.achievement-container .text-content span {
    color: #4CAF4F;
}

.achievement-container .text-content p {
    color: #18191F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;}

.counter-row .counter-box .counter-icon{
    width: 48px;
    height: 48px;
}

.counter-row .counter-box .counter-icon img{
    width: 100%;
}

.counter-row .counter-box .counter-text h3{
    color: #4D4D4D;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}

.counter-row .counter-box .counter-text p{
    color: #717171;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}




/* calender section START */
/* calender section START */
/* calender section START */
.calender-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin-bottom: 48px;
}

.calender-container .text-content {
    width: 50%;
}

.calender-container .image-content {
    max-width: 450px;
}

.calender-container .image-content img{
    width: 100%;
}

.calender-container .text-content h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    margin-bottom: 16px;
}

.calender-container .text-content p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 32px;
}



/* customer section START */
/* customer section START */
/* achiecustomervement section START */

#customer {
    background: #F5F7FA;
    margin: 0;
    padding: 0px 120px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 48px;
}

.customer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 78px;
}

.customer-container .image-box{
    width: 33%;
}

.customer-container .image-box img{
    max-width: 326px;
    height: 326px;
}

.customer-container .content-box{
    width: 77%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.customer-container .content-box .text-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}

.content-box .text-box .deatils{
    color: #717171;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
}

.text-box .info h2{
    color: #4CAF4F;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.text-box .info h3{
    color: #89939E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.customer-container .content-box .customers-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.customer-container .content-box .customers-logo img{
    height: 20px;
}

.meet-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.meet-btn a{
    text-decoration: none;
    color: #4CAF4F;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}
.meet-btn img{
    max-width: 24px;
    height: 24px;
}





/* community card section START */
/* community card section START */
/* community card section START */
#community{
    margin-bottom: 140px;
}

.community-container .community-header{
  display:flex;
  flex-direction:column;
  align-items: center;
  width: 60%;
  text-align: center;
}

.community-container .community-header h2{
    text-transform:capitalize;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    color: #4D4D4D;
    margin-bottom: 8px;
}

.community-container .community-header p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #717171;
    margin-bottom: 16px;
}

.community-container .community-box{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap: 1.3%;
}

.community-container .community-box .single-box{
  flex-basis:32%;
  position:relative;
}

.community-box .single-box .image img{
  max-width:100%;
  border-radius:8px;
}

.community-box .single-box .content{
  position:absolute;
  width:280px;
  background:#F5F7FA;
  padding:16px;
  border-radius:8px;
  transform:translate(8%,-60%);
  box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.40);
  text-align:center;
}

.community-box .single-box .content .text h4{
    text-transform: capitalize;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 16px;
}

.single-box .content .read-more{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-box .content .read-more p{
    text-transform:capitalize;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    color: #4CAF4F;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.single-box .content .read-more p:hover{
    color: #399d3c;
    transition: .3s;
}

.single-box .content .read-more img{
    max-width: 24px;
    height: 24px;
    cursor: pointer;
}




/* product trial section START */
/* product trial section START */
/* product trial section START */
#product {
    background: #F5F7FA;
    margin: 0;
    padding: 0px 120px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.trial-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.trial-container .trial-heading h2{
    color: #263238;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 76px; 
    text-align: center;
}
.trial-container .tial-btn{
    position: relative;
}

.trial-container .tial-btn .btn{
    padding-right:47px;
}
.trial-container .tial-btn img{
    position: absolute;
    top: 45%;
    right: 18%;
}



/* footer section START */
/* footer section START */
/* footer section START */
#footer {
    max-width: 1440px;
    margin: 0px auto;
    padding: 50px 120px;
    background: #273238;
    color: #fff;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
  }

        /** left col here **/
  .left-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

  .left-col .logo img{
    max-width: 90%;
    cursor:pointer;
  }
  
  .left-col .copyright-text p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
  }
  
  .left-col .social-icons {
    display: flex;
    align-items: center;
  }
  
  .left-col .social-icons a {
    width: 32px;
    height: 32px;
    font-size: 16px;
    border-radius: 50%;
    background: #3C454B;
    color: #fff;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    margin: 0 5px;
    transition: all 0.3s ease-in-out;
  }
  
          /** social icon hover **/
  .left-col .social-icons a:nth-child(1):hover {
    color: #F409D2;
    background: #fff;
    border: 1px solid #F409D2;
  }
  .left-col .social-icons a:nth-child(2):hover {
    color: #0863f7;
    background: #fff;
    border: 1px solid #0863f7;
  }
  .left-col .social-icons a:nth-child(3):hover {
    color: #4099ff;
    background: #fff;
    border: 1px solid #4099ff;
  }
  
  .left-col .social-icons a:nth-child(4):hover {
    color: #ec0100;
    background: #fff;
    border: 1px solid #ec0100;
  }
  
        /** right col here **/
  .footer-container .right-col {
    flex-basis: 60%;
  }
  
  .footer-container .right-col {
    display: flex;
    justify-content: space-between;
    gap: 1.3%;
  }
  
  .footer-container .right-col .footer-col {
    flex-basis: 32%;
  }

  .footer-col h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 24px;
  }

  .right-col .footer-col ul {
    list-style-type: none;
  }
  
  .right-col .footer-col ul li {
    color: rgba(254, 251, 246, 0.5);
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 8px;
    transition: all 0.3s ease-in-out;
  }
  
  .right-col .footer-col ul li:hover {
    color: rgb(254, 251, 246);
    padding-left:5px;
  }
  
        /** subscribe / input **/
  .right-col .footer-col .input-box {
    position: relative;
  }
  
  .right-col .footer-col .input-box input {
    border: none;
    width: 100%;
    height: 40px;
    padding: 4px 12px;
    color: #E8F5E9;
    background-color: #3C454B;
    border-radius: 8px;
  }
  
  .right-col .footer-col 
  .input-box input::placeholder
  { color: #D9DBE1; }

  .right-col .footer-col 
  .input-box input:focus
  { outline: none; color: #4CAF4F;}
  
  .right-col .footer-col 
  .input-box i {
    position: absolute;
    top: 10px;
    right: 10px;
    width:18px;
    height:18px;
    line-height:18px;
    font-size: 16px;
    color: #fff;
    text-align:center;
    cursor:pointer;
    transition: all .3s ease-in-out;
  }

  .right-col .footer-col 
  .input-box i:hover{
    color: #399d3c;
    transition: .3s;
  }
